### Mobile App for Lottery Addiction

In this project, we focus on implementing the probability calculation component of a mobile application designed to assist lottery addicts. The purpose of the app is to help users make more informed decisions by providing accurate estimates of their chances of winning. By understanding the actual odds, users may develop a more realistic perspective on lottery games and potentially reduce addictive behaviors.

### Core Utility Functions

We have implemented two essential functions—`factorial()` and `combinations()`—which will be used frequently in this project. These functions form the mathematical basis for our probability calculations:

- `factorial(n)`: Computes the factorial of a given number `n`.
- `combinations(n, k)`: Calculates the number of ways to choose `k` elements from a set of `n` elements without regard to the order.

In [21]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i    
    return fact

In [23]:
def combinations(n, k):
    return factorial(n) / (factorial(k) * factorial(n-k))

In [41]:
def one_ticket_probability(numbers):
    n_combinations = combinations(49, 6)
    wp = (1 / n_combinations)
    wp_percentage = wp * 100
    print(f'''You picked the numbers: {numbers}.
Your chance of winning the big prize is about {wp_percentage:.7f}%.
That means you have 1 chance in {int(n_combinations):,} to win.''')

In [43]:
one_ticket_probability([1, 2, 3, 4, 5, 6])

You picked the numbers: [1, 2, 3, 4, 5, 6].
Your chance of winning the big prize is about 0.0000072%.
That means you have 1 chance in 13,983,816 to win.

In [103]:
import pandas as pd

lottery_649 = pd.read_csv("649.csv")

In [107]:
lottery_649.shape

(3665, 11)

In [109]:
lottery_649.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [111]:
lottery_649.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [113]:
def extract_numbers(row):
    row = row[-7:-1]
    row = set(row.values)
    return row

In [115]:
extract_numbers(lottery_649.iloc[6])

{18, 25, 28, 33, 36, 42}

In [119]:
winning_numbers = lottery_649.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [142]:
def check_historical_occurence(user_num, winning_num):
    user_num_set = set(user_num)
    check_occurence = winning_numbers == user_num_set
    n_occurences = check_occurence.sum()

    if n_occurences == 0:
        print(f'''The combination {user_num} has never occurred.
Your chances to win the big prize in the next drawing using the combination {user_num} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.''')
    else:
        print(f'''The number of times combination {user_num} has occurred in the past is {n_occurences}.
Your chances to win the big prize in the next drawing using the combination {user_num} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.''')

In [144]:
# testing with winning occurence of numbers
check_historical_occurence([3, 41, 11, 12, 43, 14], winning_numbers)

The number of times combination [3, 41, 11, 12, 43, 14] has occurred in the past is 1.
Your chances to win the big prize in the next drawing using the combination [3, 41, 11, 12, 43, 14] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

In [148]:
# testing with non-winning occurence of numbers
check_historical_occurence([1, 2, 3, 4, 5, 6], winning_numbers)

The combination [1, 2, 3, 4, 5, 6] has never occurred.
Your chances to win the big prize in the next drawing using the combination [1, 2, 3, 4, 5, 6] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

In [152]:
n_combinations = combinations(49, 6)

def multi_ticket_probability(n_tickets):
    prob = n_tickets / n_combinations
    prob_percentage = prob * 100
    if n_tickets == 1:
        print(f'''Your chances to win the big prize with one ticket are {prob_percentage:.6f}%.
In other words, you have a 1 in {int(n_combinations):,} chances to win.''')
    else:
        combinations_simplified = round(n_combinations / n_tickets)
        print(f'''Your chances to win the big prize with {n_tickets:,} different tickets are {prob_percentage:.6f}%.
In other words, you have a 1 in {combinations_simplified:,} chances to win.''')

In [156]:
n_tickets_list = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for n in n_tickets_list:
    multi_ticket_probability(n)
    print("")

Your chances to win the big prize with one ticket are 0.000007%.
In other words, you have a 1 in 13,983,816 chances to win.

Your chances to win the big prize with 10 different tickets are 0.000072%.
In other words, you have a 1 in 1,398,382 chances to win.

Your chances to win the big prize with 100 different tickets are 0.000715%.
In other words, you have a 1 in 139,838 chances to win.

Your chances to win the big prize with 10,000 different tickets are 0.071511%.
In other words, you have a 1 in 1,398 chances to win.

Your chances to win the big prize with 1,000,000 different tickets are 7.151124%.
In other words, you have a 1 in 14 chances to win.

Your chances to win the big prize with 6,991,908 different tickets are 50.000000%.
In other words, you have a 1 in 2 chances to win.

Your chances to win the big prize with 13,983,816 different tickets are 100.000000%.
In other words, you have a 1 in 1 chances to win.

In [180]:
def probability_less_6(n_winning_numbers):
    n_combinations_ticket = combinations(6, n_winning_numbers)
    n_combinations_remaining = combinations(43, 6 - n_winning_numbers)
    successful_outcomes = n_combinations_ticket * n_combinations_remaining

    n_combinations_total = combinations(49, 6)    
    probability = successful_outcomes / n_combinations_total
    probability_percentage = probability * 100    
    combinations_simplified = round(n_combinations_total / successful_outcomes)

    print(f'''Your chances of having {n_winning_numbers} winning numbers with this ticket are {probability_percentage:.6f}%.
In other words, you have a 1 in {combinations_simplified:,} chances to win.''')

In [192]:
for n_ticket in [2, 3, 4, 5]:
    probability_less_6(n_ticket)
    print("")

Your chances of having 2 winning numbers with this ticket are 13.237803%.
In other words, you have a 1 in 8 chances to win.

Your chances of having 3 winning numbers with this ticket are 1.765040%.
In other words, you have a 1 in 57 chances to win.

Your chances of having 4 winning numbers with this ticket are 0.096862%.
In other words, you have a 1 in 1,032 chances to win.

Your chances of having 5 winning numbers with this ticket are 0.001845%.
In other words, you have a 1 in 54,201 chances to win.